
@{
    ViewBag.Title = "BikeInsurance";
    Layout = "~/Views/Shared/_VehicleInsuranceHome.cshtml";
}
<br />
<br />
<br />
<br />
<h2>Bike Insurance Policy</h2>
<hr />
<div style="padding:200px;background-color:aquamarine">
    <p>Hello i am  ...</p>
</div>

<button class="btn-danger">@Html.ActionLink("Bike Registration Here!", "BikeRegistration", "Home")</button>
<br />
<br />
<br />
