@using Vereyon.Web
@{
    ViewBag.Title = "Login";
    //Layout = "";/* ~/ Views / Shared / _VehicleInsuranceHome.cshtml*/
}

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/LoginDesign/css/style.css">

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.RenderFlashMessages()
        <section class="ftco-section" style="background-color:#f5f5f5;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <!-- <h2 class="heading-section">Login #03</h2> -->
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Sign In</h3>
                                </div>
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                    </p>
                                </div>
                            </div>
                            <form action="#" class="login-form">
                                <div class="form-group">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
                                    <input type="text" name="CustomerName" class="form-control rounded-left" placeholder="Username" required>
                                </div>
                                <div class="form-group">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                    <input type="password" name="Password" class="form-control rounded-left" placeholder="Password" required>
                                </div>
                                <div class="form-group d-flex align-items-center">
                                    <div class="w-100">
                                        <label class="checkbox-wrap checkbox-primary mb-0">
                                            Save Password
                                            <input type="checkbox" checked>
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-100 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary rounded submit">Login</button>
                                    </div>
                                </div>
                                <div class="form-group mt-4">
                                    <div class="w-100 text-center">
                                        <p class="mb-1">Don't have an account? @Html.ActionLink("Sign Up", "Register", "Home")
                                        <p><a href="#">Forgot Password</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    <script src="~/LoginDesign/js/jquery.min.js"></script>
    <script src="~/LoginDesign/js/popper.js"></script>
    <script src="~/LoginDesign/js/bootstrap.min.js"></script>
    <script src="~/LoginDesign/js/main.js"></script>

</body>
</html>
